@model IEnumerable<BillingSystem.MODEL.ITEMTABLE>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ITEMID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ITEMCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ITEMNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STOCKQTY)
            </th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ITEMID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEMCODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEMNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STOCKQTY)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ITEMID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ITEMID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ITEMID })
            </td>
        </tr>
}
    </tbody>
</table>
